<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤの課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("SELECT * FROM crops WHERE give_for != '自家消費';") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、自家消費以外の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("SELECT * FROM crops WHERE quality = false;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　品質：#{record["quality"]}" %>
    <% end %>

    <form action="goya2.cgi" method="POST">
       下記のボタンを押すと、品質が悪いもののgoyaの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
